
:root {
  /* Colores de marca */
  --ion-color-primary: #2b6cb0;        /* azul universidad */
  --ion-color-primary-rgb: 43,108,176;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #265f9b;
  --ion-color-primary-tint: #3f7bc0;

  --ion-color-secondary: #38b2ac;      /* acento turquesa */
  --ion-color-tertiary: #805ad5;       /* acento púrpura */

  /* Grises elegantes */
  --ion-color-medium: #6b7280;
  --ion-color-light: #f3f4f6;
  --ion-color-dark: #111827;

  /* Radios y sombras */
  --app-radius: 18px;
  --app-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

/* Soporte dark mode automático */
@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #0b1220;
    --ion-text-color: #e5e7eb;
    --ion-card-background: #0f172a;
  }

  /* Títulos dentro de cards (como los nombres de usuario de la API) */
  ion-card-title {
    color: #ffffff !important;   /* blanco para máximo contraste */
    font-weight: 600;
    font-size: 1.1rem;
  }

  /* Texto general dentro de los cards */
  ion-card-content {
    color: #cbd5e1; /* gris claro y legible */
  }
  ion-button {
  --border-radius: 12px;
  --padding-start: 12px;
  --padding-end: 12px;
}

}
